<div class="flex items-center justify-between h-screen">
  <form [formGroup]="signupForm" (ngSubmit)="submitForm()" class="flex flex-col w-[30vw] bg-[#f5f5f5] translate-x-[120%] rounded-[5px] shadow-md mt-14">
    <div class="flex items-center justify-center mt-2">
      <p class="font-semibold text-3xl flex gap-0 cursor-pointer">
        <span class="text-[#de7c31] hover:text-[#36d5e3]">S</span>
        <span class="text-[#f026b7] hover:text-[#fbff1c]">i</span>
        <span class="text-[#36d5e3] hover:text-[#de7c31]">g</span>
        <span class="text-[#2be03a] hover:text-[#f026b7]">n</span>
        <span class="text-[#de7c31] hover:text-[#2be03a]">u</span>
        <span class="text-[#f026b7] hover:text-[#fbff1c]">p</span>
      </p>
    </div>

    <div class="p-5">
      <mat-form-field class="w-full">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstname" required firstname />
        <mat-error *ngIf="signupForm.controls['firstname'].hasError('required')"
          >First Name is requireed</mat-error
        >
      </mat-form-field>

      <mat-form-field class="w-full">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastname" required lastname />
        <mat-error *ngIf="signupForm.controls['lastname'].hasError('required')"
          >Last Name is requireed</mat-error
        >
      </mat-form-field>

      <mat-form-field class="w-full">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" required email />
        <mat-error *ngIf="signupForm.controls['email'].hasError('required')"
          >Email is required</mat-error
        >
        <mat-error *ngIf="signupForm.controls['email'].hasError('email')"
          >Enter valid email</mat-error
        >
      </mat-form-field>

      <mat-form-field class="w-full">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" required password />
        <mat-error *ngIf="signupForm.controls['password'].hasError('password')"
          >Password is required</mat-error
        >
        <mat-error *ngIf="signupForm.controls['password'].hasError('minlength')"
          >Password should be 8 character long</mat-error
        >
      </mat-form-field>

      <div>
        <button class="btn">Signup</button>
      </div>
      <p class="pt-5 translate-x-[25%]">already registered? <span (click)="navigateLogin('login')" class="cursor-pointer text-blue-700">Login</span></p>
    </div>
  </form>
</div>
