<div class="slider w-full h-[60vh]">
    <div class="slide w-full">
        <img src="../../../assets/ban.jpg" alt="Image 1">
    </div>
    <div class="slide w-full">
        <img src="../../../assets/fast-fashion-concept-with-full-clothing-store.jpg" alt="Image 2">
    </div>
    <div class="slide w-full">
        <img class="w-full object-cover" src="../../../assets/clothing-rack-with-floral-hawaiian-shirts-hangers_756748-41194.jpg" alt="Image 3">
    </div>
</div>

<div class="w-full p-3 h-[40vh] gap-2 flex items-center">
    <div class="card w-1/2 h-full">
        <img src="../../../assets/vivid-detailed-high-concept-photo-realistic-hip-hop-urban-banner.jpg" class="w-full h-full object-cover rounded-[6px]" alt="">
        <p class="relative text-4xl text-white -top-[60%] font-semibold left-[32%] ">Style <span class="text-[#de7c31]">With</span> Us</p>
    </div>
    <div class="card w-1/2 h-full">
        <img src="../../../assets/view-football-t-shirt-locker-room_23-2150885789.jpg" class="w-full h-full object-cover rounded-[6px]" alt="">
        <p class="relative text-4xl text-white -top-[60%] font-semibold left-[20%] ">Weave <span class="text-[#fbff1c]">Your </span>Moments</p>
    </div>
</div>