<div class="grid grid-cols-1 gap-4 lg:grid-cols-12 px-5 lg:px-20">
    <div class="col-span-1 lg:col-span-5">
        <div class="rounded-[12px] shadow-lg h-[32.2rem] mb-5 overflow-y-scroll hide-scrollbar p-5">
            <div class="p-5 py-7 cursor-pointer">
                <div *ngFor="let item of adresses; let last = last" class="py-2 space-y-2">
                    <app-address-card [adresses]="item"/>
                    <button class="btn" (click)="handlecreateOrder(item)">Deliver Here</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-span-1 lg:col-span-7">
        <div class="rounded-[12px] shadow-lg p-5">
            <form [formGroup] = "myForm" (ngSubmit)="handleSubmit()"></form>
        </div>
    </div>
</div>